<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
    <meta name="description" content="<%=locals.description %>" />
    <meta
      property="og:title"
      content="A personal project using Node JS and MongoDB"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="A personal project using Node JS and MongoDB"
    />
    <meta
      property="og:url"
      content="https://sashacode11.github.io/opengraph_seo/"
    />
    <meta property="og:image" content="image.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" defer src="/js/script.js"></script>
  </head>
  <body>
    <%-include('../partials/search') %> <%-include('../partials/header') %>
    <div class="container">
      <main class="main">
        <div class="main-content"><%-body %></div>
      </main>
    </div>
    <%-include('../partials/footer') %>
  </body>
</html>
